*.local.php
*.local.js

webpack.config.ide.js

/.vscode
/.idea

/vendor
/view
/data/logs
/data/DoctrineORMModule
/data/doctrine
/data/fallback
/data/keys
/node_modules
**/*/node_modules
/public/build
/public/upload
/public/media
/public/sitemap
/public/sitemap.xml
/public/sitemaps
/public/sitemaps_https
/frontend/coverage
/public/BingSiteAuth.xml
/reports

**/.env
**/*id_rsa

# stryker temp files
.stryker-tmp
stryker.log
/frontend/mutation
*compose.override.y*ml
